  * {
    font-family: 'Roboto', sans-serif;
    text-decoration: none !important;
  }
  body {
    background-size: cover;
      height:100vh;
      width:100%;
  }
  .main-col {
    
  }
  .transparent {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;

  }
  .cover {
    margin-right: 0;
  }
  * {
    padding: 0;
  
    box-sizing: border-box;

  }

  section {
    background-color: black;
    position: relative;
  }


p {
  white-space: pre-line;
  margin: 0px;
}
head {
  background-color: #EAD7D7;
  text-align: center;
  font-weight: 400;
}
.container {
  position: relative;
  
  clear: both;
  margin: 0px auto;

  display: block;

}
#profile {
  width: 100%;
  overflow: hidden;
}