.App {
  text-align: center;

}


  @media (max-width: 768px) {
    svg {
      width: 1em;
    }
  }
.transparent {
  background-color: #DCDCDC;
}

.accordion-button {
  background: none!important;
  border: none;
  padding: 0!important;

  color: #069;
  cursor: pointer;
}

.maxH {
  min-height: 100vh;
}

.svg-content-responsive {
  vertical-align: top;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  top: 0px;
  background-size: cover;


}
.bg-custom {
  background-color: rgba(220,220,220, 0.8);
}